.form {
  &__set {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
    & > div:nth-of-type(even) {
      margin-left: 2rem;
    }
    &Title {
      font-weight: 600;
      width: 100%;
      margin-bottom: 2.375rem;
    }
    &--divider {
      border-bottom: 1px solid var(--gray-20);
      padding-bottom: 1rem;
    }
  }
}
