.sessionStatus {
  width: 4.5rem;
  height: 1.5rem;
  border-radius: 12px;
  background-color: var(--red-10);
  color: var(--red-80);
  display: inline-flex;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
  justify-content: center;
  &.online {
    background-color: var(--green-20);
    color: var(--green-80);
  }
}
