.docs {
  &__title {
    margin-bottom: 2.5rem;
  }

  &__item {
    margin-bottom: 1.25rem;
    &Title {
      font-weight: 500;
      letter-spacing: 0.022em;
      line-height: 1.5;
      height: 4.375rem;
      box-sizing: border-box;
      padding-bottom: 6px;
    }
    &Name {
      margin-bottom: 1.75rem;
      letter-spacing: 0.022em;
      font-weight: 500;
      color: var(--gray-20);
      text-decoration-line: underline;
      font-feature-settings: 'ss01' on;
    }
    &Row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &Size {
      color: var(--gray-50);
    }
    &Bar {
      display: flex;
      align-items: center;
    }
  }
}
