.docs {
  &__title {
    margin-bottom: 2.5rem;
  }

  &__list {
    max-height: 33.75rem;
    box-sizing: border-box;
    overflow: auto;
    margin-bottom: 2rem;
    padding-right: 1.125rem;
    box-sizing: border-box;
  }
  &__item {
    margin-bottom: 1.25rem;
    &Title {
      font-weight: 500;
      letter-spacing: 0.022em;
      line-height: 1.5;
      min-height: 3.375rem;
      box-sizing: border-box;
      padding-bottom: 6px;
    }
    &Upload,
    &Name {
      margin-bottom: 0.35rem;
      letter-spacing: 0.022em;
      font-size: 1rem;
      font-weight: 500;
      text-decoration-line: underline;
      font-feature-settings: 'ss01' on;
      color: var(--red-60);
      &--upload {
        cursor: pointer;
        color: var(--gray-20);
        transition: color 0.3s;
        &:hover {
          color: var(--gray-30);
        }
      }
    }
    &Row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &Date {
      color: var(--gray-50);
    }
    &Bar {
      display: flex;
      align-items: center;
    }
  }
}
