.header {
  border-bottom: 1px solid var(--gray-5);
  margin-bottom: 1.875rem;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
  }
  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__controls {
    display: flex;
    align-items: center;
  }
  &__profile {
    margin-left: 1.8rem;
    background-color: var(--gray-0);
    border-radius: 12px;
    padding: 8px;
    box-sizing: border-box;
  }
}
