.detail {
  display: flex;
  flex-wrap: wrap;
  &__title {
    width: 100%;
    margin-bottom: 0.875rem;
    color: var(--blue-100);
  }
  &__subtitle {
    width: 100%;
    margin-bottom: 3.5rem;
    color: var(--gray-20);
  }
  &__profile {
    display: flex;
  }
  &__data {
    width: 13.125rem;
  }
  &__box {
    width: calc(100% - (13.125rem + 2.25rem));
    margin-left: 2.25rem;
    box-sizing: border-box;
  }
  &__name {
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 1.125rem;
  }
  &__tabs {
    margin-bottom: 0.625rem;
  }
  &__frame {
    background-color: var(--indigo-0);
    padding: 2rem 1.25rem;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
  }
  &__form {
    width: 44rem;
  }
  &__docs {
    width: calc(100% - 48rem);
    margin-left: 4rem;
  }
  &__contacts {
    margin-bottom: 1rem;
  }
  &__income {
    margin-bottom: 1.875rem;
  }
}
