.modelProfile {
  &__title {
    width: 100%;
    margin-bottom: 0.875rem;
    color: var(--blue-100);
  }
  &__subtitle {
    width: 100%;
    margin-bottom: 3.5rem;
    color: var(--gray-20);
  }
  &__profile {
    display: flex;
    width: 100%;
  }
  &__data {
    width: 13.125rem;
  }
  &__box {
    width: calc(100% - (13.125rem + 2.25rem));
    margin-left: 2.25rem;
    box-sizing: border-box;
  }

  &__form {
    width: calc(100% - 23rem);
  }
  &__docs {
    width: 19rem;
    margin-left: 4rem;
  }
}
