.profileTabs {
  &__controls {
    margin-bottom: 0.625rem;
  }
  &__frame {
    background-color: var(--indigo-0);
    padding: 2rem 1.25rem;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
  }
}
